.headerview {
	border-left: 0;
	border-top: 0;
	color:#ffffff; //$base-foreground-color;//cor fonte do navbar
	background-color:#0875ac// #ff6b70;// $base-color; //cor do navbar
}

.headerviewtext { 
	font-size: 28px; 
	padding: 0 0 0 15px;
	line-height: 50px;
}

@include button-ui(
	$ui: 'headerbutton',
	$background-color: transparent,
	$color: $base-foreground-color,
	$icon-color:  $base-foreground-color,
	$border-color: transparent
);


// Cores para usar:
// navbar texto: #ffffff;
// navbar corpo: #ff6b70;

// Titulo texto de componente: #ffffff;
// Titulo corpo de componente: #2981bf,#92c4e4

// #154c79
// #a03e01 
// #c4ac9b
// #808e8f

// #0875ac
// #bbd3e3
// #ca7e78